@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
@font-face {
    font-family: 'CamptonLight';
    src: url(fonts/Campton-Light.otf);
}

@font-face {
    font-family: 'CamptonBold';
    src: url(fonts/Campton-Bold.otf);
}

@font-face {
    font-family: 'CamptonBook';
    src: url(fonts/Campton-Book.otf);
}

@font-face {
    font-family: 'CamptonMedium';
    src: url(fonts/Campton-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

body,
html {
    font-family: 'IBM Plex Sans, sans-serif;
 text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale overflow-x: -moz-hidden-unscrollable
}

a {
    text-decoration: none;
    color: #464646;
}

.index-main {
    height: 100%;
}

body {
    width: 100%;
    margin: auto;
}

header {
    position: relative;
    z-index: 10;
    width: 80%;
    margin: 30px auto 0;
    max-width: 400px;
    margin-bottom: 60px;
}

header .name-style {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    position: relative;
}

header .name-style a {
    color: rgba(0, 0, 0, 1);
}

header ul.links {
    margin: 25px auto 0;
    text-align: center;
}

header ul.links li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    color: rgba(0, 0, 0, 1)
}

header ul.links li.active a {
    color: rgba(0, 0, 0, 1);
}

header ul.links li.active a::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #575757;
}

header ul.links li.active a::before {
    width: 0%;
    bottom: -6px;
}

header ul.links li.active a::before {
    width: 93%;
}

header ul.links li.not-active a::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #575757;
}

header ul.links li.not-active a::before {
    width: 0%;
    bottom: -6px;
}

header ul.links li.not-active a:hover::before {
    width: 94%;
}

header ul.links li.not-active a {
    color: rgba(0, 0, 0, .5);
}

header ul.links li.not-active a:hover {
    color: rgba(0, 0, 0, 1);
}

article>* {
    margin: 15px;
    min-width: 0;
    grid-column: 4
}

article>h1,
article>h2 {
    font-family: 'Nunito Sans', sans-serif;
}

article>li,
article>p {
    font-family: 'CamptonLight';
    font-weight: 500
}

article>p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

article>.aside {
    font-family: 'Montserrat', sans-serif;
    margin: 30px 20px;
    color: #666;
    font-size: .8em
}

.color--dark-italic {
    color: #333333;
    font-size: 22px;
    line-height: 40px;
}

.points {
    color: #333333;
    font-size: 22px;
}

.big-text {
    margin-top: 30px;
    font-size: 30px;
    color: #333333;
    font-family: 'CamptonBold';
}

.Med-text {
    font-family: 'CamptonMedium';
    font-size: 24px;
    color: #333333;
    line-height: 50px;
}

.Med--text {
    font-family: 'CamptonMedium';
    font-size: 20px;
    color: #333333;
    line-height: 50px;
}

.med---text {
    font-size: 18px;
    font-family: "CamptonLight";
}

.sub-head {
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.img-text {
    font-family: 'CamptonLight';
    margin-top: -5px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    color: #333333;
    margin-bottom: 60px;
    font-weight: 400;
}

img {
    width: 100%
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 790px 10px 1fr 1fr
}

article>figure {
    grid-column: 1/-1;
    margin: 20px 0
}

article>.aside {
    grid-column: 5/-1
}

img.user-flow {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img.wireframes {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img.final {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img.sketches {
    display: block;
    margin: 0 auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img.img {
    display: block;
    margin: 0 auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lists {
    font-family: 'CamptonBook';
    line-height: 55px;
    margin-top: -20px;
    font-size: 19px;
    margin-top: 15px;
    margin-left: 50px;
}

ul.list {
    list-style-type: circle;
    font-family: 'CamptonBook';
    line-height: 55px;
    font-size: 20px;
    list-style: none;
    color: #333333;
}

.link-twitter {
    color: #000000;
    padding-bottom: 140px;
    font-size: 20px;
}

.social {
    margin-top: 40px;
    margin-bottom: 60px;
}

.social-icon {
    background: no-repeat #FFF;
    border: 1px solid #CFCFCF;
    padding: 0;
    border-radius: 32px;
    color: #000;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    background-size: 50vw auto;
    margin: 5px;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: box-shadow, transform;
    -webkit-transition-property: box-shadow, -webkit-transform;
    transition-property: box-shadow, -webkit-transform;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform, -webkit-transform
}

.social-icon:active,
.social-icon:hover {
    -webkit-transform: scale(1.1);
    text-decoration: none;
    transform: scale(1.2);
    color: #777;
    outline: 0
}

.card {
    width: 760px;
    font-family: 'CamptonLight';
    ;
    position: relative;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding-right: 0;
    padding-left: 0;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
}

.card p {
    margin: 20px;
}

.link-title {
    margin-top: -5px
}

.link-desc {
    margin-top: -15px;
    color: #727272
}

@media only screen and (max-width:768px) {
    article {
        display: grid;
        grid-template-columns: 1fr 1fr 10px 350px 10px 1fr 1fr
    }
    article>* {
        margin: 10px;
        min-width: 0;
        grid-column: 4
    }
    .headline {
        font-family: 'Montserrat', sans-serif;
        line-height: 40px;
        margin-top: 5px;
        font-size: 22px;
        color: #333333;
        font-weight: 500;
    }
    .sub-head {
        margin-top: -5px;
        font-style: italic;
        margin-bottom: 5px;
    }
    .big-text {
        font-size: 24px;
        color: #000000;
        font-weight: 500;
    }
    .Med-text {
        font-size: 20px;
        color: #333333;
        line-height: 5px;
    }
    .Med--text {
        font-size: 18px;
    }
    img.img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        margin-top: -5px;
        margin-bottom: 20px;
    }
    article>p {
        --x-height-multiplier: 0.375;
        --baseline-multiplier: 0.17;
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        line-height: 2em;
        color: #1c1c1c;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased
    }
    .color--dark {
        font-size: 18px
    }
    .img-text {
        text-align: center;
        font-size: 12px;
    }
    img.size-down {
        display: block;
        margin: 0 auto;
        width: 94%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    img.sketch {
        width: 95%;
    }
    ul.list {
        line-height: 40px;
        font-size: 20px;
    }
    .card {
        width: auto;
    }
    .card p {
        margin: 20px;
        line-height: 25px;
    }
    img.user-flow {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img.final {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    video {
        width: 95%;
        height: auto;
    }
}