@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

@font-face {
  font-family: 'CamptonLight';
  src: url(fonts/Campton-Light.otf);
}

@font-face {
  font-family: 'CamptonBold';
  src: url(fonts/Campton-Bold.otf);
}

@font-face {
  font-family: 'CamptonBook';
  src: url(fonts/Campton-Book.otf);
}

@font-face {
  font-family: 'CamptonMedium';
  src: url(fonts/Campton-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

body, html {
    font-family: 'IBM Plex Sans, sans-serif;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale overflow-x: -moz-hidden-unscrollable
}

a {
    text-decoration: none;
    color: #464646;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.index-main {
    height: 100%;
}

body {
    width: 50%;
    margin: auto;
}

header {
    position: relative;
    z-index: 10;
    width: 80%;
    margin: 30px auto 0;
    max-width: 400px
}

header .name-style {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    position: relative;
}

header .name-style a {
    color: rgba(0, 0, 0, 1);
}


header ul.links {
    margin: 25px auto 0;
    text-align: center;
}

header ul.links li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    color: rgba(0, 0, 0, 1)
}

header ul.links li.active a {
    color: rgba(0, 0, 0, 1);
}

header ul.links li.active a::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #575757;
}

header ul.links li.active a::before {
    width: 0%;
    bottom: -6px;
}

header ul.links li.active a::before {
    width: 93%;
}

header ul.links li.not-active a::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #575757;
}

header ul.links li.not-active a::before {
    width: 0%;
    bottom: -6px;
}

header ul.links li.not-active a:hover::before {
    width: 94%;
}

header ul.links li.not-active a {
    color: rgba(0, 0, 0, .5);
}

header ul.links li.not-active a:hover {
    color: rgba(0, 0, 0, 1);
}

.   title-role {

}

.work .title-role {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-top: 60px;
    font-size: 32px;
    color: #1C1C1C;
    margin-top: 80px;
}

.role-desc {
}

.work .role-desc {
    font-family: 'CamptonLight';
    font-weight: 400;
    font-size: 20px;
    color: #333333;
    margin-top: 30px;
    line-height: 40px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

.social-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #676767;
    margin-top: 20px;
}

.color--dark {
  color: #000000;
  font-weight: 400;
}

ul.social-links li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 10px;
    position: relative;
    color: #1C1C1C;
}

.recent-work {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #959699;
    margin-top: 50px;
    letter-spacing: 4px;
}

.work-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.project-title {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 20px;
    color: #333333;
    font-family: 'CamptonBook';
    font-weight: 500;
    letter-spacing: 1px;
}

.project-one-color {
    color: #00D1C1;
}

.project-two-color {
    color:  #F86078;
}

.project-three-color {
    color: #32325D;
}

.project-subhead {
    text-transform: uppercase;
    margin-top: 12px;
    font-size: 14px;
    color: #959699;
    font-family: 'CamptonBook';
    font-weight: 500;
    letter-spacing: 3px;
}

.project-desc {
    width: 95%;
    text-align: left;
    font-family: 'CamptonLight';
    font-weight: 400;
    font-size: 19px;
    color: #333333;
    margin-top: 20px;
    line-height: 35px;
}

a.read-more {
    font-family: 'CamptonBook';
    color: #555555;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #C9C9C9;
    padding: 7px 28px 7px 28px;
    display: inline-block;
    position: relative;
    top: 20px;
    border-radius: 40px;
    -webkit-transition: all .2s cubic-bezier(.005, .735, .63, .995);
    -o-transition: all .2s cubic-bezier(.005, .735, .63, .995);
    transition: all .2s cubic-bezier(.005, .735, .63, .995)
}

a.read-more:hover {
    transform: scale(.95);
}


hr {
  margin-top: 60px;
  margin-bottom: 20px;
  height: 1px;
  background-image: linear-gradient(90deg, #C0C0C0, #C0C0C0 75%, transparent 75%, transparent 100%);
  background-size: 15px 1px;
  border: none;
}

a.read-more-last {
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #C9C9C9;
    margin-bottom: 20%;
    padding: 7px 28px 7px 28px;
    display: inline-block;
    position: relative;
    top: 20px;
    border-radius: 40px;
    -webkit-transition: all .2s cubic-bezier(.005, .735, .63, .995);
    -o-transition: all .2s cubic-bezier(.005, .735, .63, .995);
    transition: all .2s cubic-bezier(.005, .735, .63, .995)
}

a.read-more-last:hover {
    transform: scale(.95);
}


@media only screen and (max-width:768px) { 

body {
    width: 88%;
    margin: auto;
}

.work .title-role {
    margin-top: 40px;
    font-size: 28px;
    text-align: left;
    line-height: 45px;
    
}
    
.work .role-desc {
    font-weight: 400;
    font-size: 17px;
    margin-top: 15px;
    line-height: 40px;
}


.project-desc {
    font-size: 15px;
    padding-top: 20px;
    padding-right: 15px;
}
    
.social-text {
    font-weight: 400;
    font-size: 18px;
    color: #676767;
    margin-top: 20px;
}
    
.recent-work {
    font-weight: 500;
    font-size: 14px;
    color: #959699;
    margin-top: 40px;
    letter-spacing: 4px;
}


img.work-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
.project-title {
    line-height: 35px;
    margin-top: 30px;
    font-size: 18px;
}

.project-subhead {
    text-transform: uppercase;
    margin-top: 12px;
    font-size: 12px;
    color: #959699;
    font-weight: 500;
    letter-spacing: 3px;
}

.project-desc {
    font-weight: 400;
    font-size: 16px;
    color: #676767;
    margin-top: 0px;
    line-height: 40px;
}

hr {
  margin-top: 60px;
  margin-bottom: 40px;
  height: 1px;
  background-image: linear-gradient(90deg, #C0C0C0, #C0C0C0 75%, transparent 75%, transparent 100%);
  background-size: 15px 1px;
  border: none;
}

.project-desc br {
        display: none;
    }
  
header .name-style br{
    display: none;

}
    
    a.read-more-last {
    margin-bottom: 50%;
    
}